<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="usersDatabase" connectionString="Data Source=RAJAT\SQLEXPRESS;Initial Catalog=Library;User ID=sa;Password=bl00dsql"/>
    </connectionStrings>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
    <system.web>
      <authentication mode="Forms">
        <forms name="form1" loginUrl="Login.aspx" defaultUrl="HomeUser.aspx"></forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>
  
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
<location path="Contact.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  

</configuration>
